@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.service-container {
    height: calc(100vh - height of Header - height of Footer);
  overflow-y: auto;
  }


  .banner-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
  }
  